alembic==1.0.5
astroid==2.0.4
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.2
certifi==2018.10.15
chardet==3.0.4
click==6.7
coverage==4.5.1
cycler==0.10.0
dropbox==9.1.0
Flask==1.1.1
Flask-SQLAlchemy==2.3.2
-e git+https://github.com/tana2034/recipebook.git@14c63b944099bff2413aaff95fbbec0c4527d4e3#egg=flaskr
gunicorn==19.9.0
idna==2.7
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Mako==1.0.7
MarkupSafe==1.0
matplotlib==3.0.0
mccabe==0.6.1
more-itertools==4.3.0
numpy==1.15.1
Pillow==6.2.2
pluggy==0.7.1
psycopg2==2.7.5
psycopg2-binary==2.7.6
py==1.10.0
pycodestyle==2.4.0
pylint==2.1.1
pyparsing==2.2.1
pytest==3.8.0
python-dateutil==2.7.3
python-editor==1.0.3
requests==2.20.1
six==1.11.0
SQLAlchemy==1.3.3
urllib3==1.25.1
Werkzeug==0.15.5
wrapt==1.10.11
