{% extends 'base.html' %}

{% block header %}
  <h2 class="subtitle">{% block title %}Recipe{% endblock %}</h2>
{% endblock %}

{% block content %}
  <div class="card card--feature type-center">
  <form method="post" action="{{ url_for('recipe.delete', id=data['id']) }}">
    <div class="grid">
      <h3 class="grid__column subtitle card__title">{{ data['title'] }}</h3>
    </div>
    <div class="grid">
    <div class="grid__column">
    {% if data['type'] == 1 %}
      <div class="card__content">
      <a href="{{ data['url'] }}">{{ data['url'] }}</a>
      </div>
    {% else %}
      <img src="{{ url_for('recipe.uploaded_file', filename=data['filename'])}}">
    {% endif %}
    </div>
    </div>
    <div class="grid card__content">
      <div class="grid__column">{{ data['description'] }}</div>
    </div>
    <div class="grid card__content type-center">
      <div class="grid__column">
      <a class="button button--dark button--outlined card__button" href="{{ url_for('recipe.index') }}">Back</a>
      <input class="button button--tertiary button--outlined card__button" type="submit" value="Delete">
      </div>
    </div>
  </form>
  </div>
{% endblock %}
