{% extends 'base.html' %}

{% block header %}
  <h2 class="title">{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div>
    <div class="control">
      <label class="control__label" for="username">Username</label>
      <input class="control__input" name="username" id="username" required>
    </div>
    <div class="control">
      <label class="control__label" for="password">Password</label>
      <input class="control__input" type="password" name="password" id="password" required>
    </div>
    <input class="button button--primary button--filled" type="submit" value="Log In">
    </div>
</form>
{% endblock %}
